$mobile: 375px;
$desktop: 1440px;

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);




body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: $desktop;
}


.header {
    border-bottom: 1px solid white;
    z-index: 9;
    height: 5rem;
    background-color: white;
    .hamburger {
        display: none;
        float: right;
        margin-top: -2rem;
        margin-right: 2rem;
    }
    .icon {
        margin-left: 10rem;
        margin-top: 2rem;
    }
    .nav {
        width: 600px;
        max-width: 100%;
        float: right;
        margin-right: 8rem;
        margin-top: -1.5rem;
    
        a {
            color:$darkGrayishViolet;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: 1.25rem;
        }
        a:hover {
            color:$veryDarkViolet;
        }
    }
    a:link {
        text-decoration: none;
        
    }

    #navBack {
        display: none;
    }
    #viewP {
        margin-left: 7rem;
        color: black;
        border: 2px solid black;
        padding: 10px 27.5px;
        text-shadow: 1px 1px $darkGrayishViolet;
        font-size: 1rem;
    }
    #viewP:hover {
        background-color: $veryDarkViolet;
        color: white;
        text-shadow: none;
        transition: ease-out 500ms;
    }
    

}


.intro {
    
    border-top: 1px solid $darkViolet;
    background-color: $darkViolet;
    height: 600px;
    color: white;
    #leftLines {
        position: relative;
        margin-top: 2rem;
        float: left;
    }

    #rightLines {
        z-index: 3;
       position: relative;
       margin-top: -27.25rem;
       float: right;
       margin-right: -45.265rem;
        
    }
    img {
        margin-top: -20.5rem;
        float: right;
        margin-right: 11.5rem;
        

    }
    .bar {
        margin-top: 6.5rem;
        margin-left: 9rem;
        border-top: 1px solid white;
        width: 152px; 
    }
    .human {
       margin-top: 3.5rem;
       width: 480px;
       max-width: auto; 
       font-size: 4rem;
       font-weight: 700;
       font-family: 'DM Serif Display', serif;
       margin-left: 9rem;
       line-height: 1;
    }
    p {
        width: 550px;
        max-width: auto;
        margin-left: 9rem;
        line-height: 1.5; 
        margin-top: -1rem;
        margin-bottom: 3rem;
    }
    .view {
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 7rem;
        color: white;
        border: 2px solid white;
        padding: 10px 27.5px;
        margin-left: -15rem;
        
        font-size: 1rem; 
    }
    .view:hover {
        cursor: pointer;
        background-color: white;
        color: $veryDarkViolet;
        transition: ease-out 500ms;
    }
}


.middle {
     margin-top: 20rem;
   
   
    .bar {
        border-top: 1px solid $veryDarkViolet;
        width: 152px;
        margin-left: 10.4rem;
      
        
    }
    h1 {
        display: inline-block;
        font-family: 'DM Serif Display', serif;
        font-size: 4.5rem;
        font-weight: 400;
        color: $veryDarkViolet;
        margin-bottom: 5rem;
        margin-left: -14rem;
    }
    p {
        width: 350px;
        max-width: 100%;
        color: $darkGrayishViolet;
        line-height: 1.5;
        margin-top: -.5rem;
    }
    h3 {
        font-family: 'DM Serif Display', serif;
        color: $veryDarkViolet;
        font-size: 1.6rem;
        
    }
    .container {
        display: flex;
        border: 1px solid green;
        height: 400px;
        margin: 0 auto;
        width: 1111px;
        justify-content: space-around;
    }
    
    .left {
        
        border: 1px solid red;
        width: 360px;
    }
    .center {
        width: 300px;
        border: 1px solid red;
        
    
    }
    .right {
        float: right;
        border: 1px solid red;
       

        width: 360px;
        

    }

    .inset {
        
        width: 1110px;
        max-width: 100%;
        height: 250px;
        max-height: 100%;
        background-color: $darkViolet;
        margin: 0 auto;
        a {
            position: relative;
            z-index: 2;
            float: right;
            text-decoration: none;
            width: 160px;
            margin-top: 5rem;
            margin-right: 5rem;
            border: 2px solid white;
            color: white;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
        a:hover {
            cursor: pointer;
            background-color: white;
            color: $veryDarkViolet;
            transition: ease-out 500ms;
            
        }
        h1 {
            color: white;
            font-size: 3.5rem;
            width: 500px;
            margin-left: 7rem;
            padding-top: .5rem;
            line-height: 1.2;
        }
        
        img {
            z-index: -9999;
            float: right;
            margin-top: -16.25rem;
            
        }
       
        



    }
}



.footer {
    height: 400px;
    margin-top: 10rem;
    background-color: $veryLightGray;
    
    #logo {     
        position: relative;
        float: left; 
        margin-top: 3.75rem;
        margin-left: 10.5rem;
    }
    .footLines {
        margin-left: -17.5rem;
    }
    .sBox {
        float: right;
        margin-top: 4rem;
        margin-right: 10.5rem;
    }
    .social {
        padding-left: 12px;
       
    }
    .social:hover,
.social:focus {
    filter: invert(0%) sepia(6%) saturate(0%) hue-rotate(100deg) brightness(50%) contrast(106%);
}
    
    
    .siteMap {
        border-top: .5px solid $darkGrayishViolet;
        margin-top: -6.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 1111px;
        height: 225px;
        font-weight: 700;
        div {
            display: inline-block;
            width: 270px;
            margin: 0 auto;
           
        }
       
   
        .dummy {
            display: none;
            visibility: hidden;
        }
        
        div.company a {
            text-decoration: none;
            display: block;
            color: $veryDarkViolet;
            text-transform: uppercase;
            line-height: 2;
        }

        div.company a:hover {
            text-decoration: underline;
        }
        div.help a:hover {
            text-decoration: underline;
        }
        div.contact a:hover {
            text-decoration: underline;
        }
        div.others a:hover {
            text-decoration: underline;
        }

        

        div.help a {
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            line-height: 2;
            color: $veryDarkViolet;
        }
        div.contact a {
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            line-height: 2;
            color: $veryDarkViolet;
        }
        div.others a {
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            line-height: 2;
            color: $veryDarkViolet;
        }
        div.company .head {
            color:$darkGrayishViolet;
            text-transform: uppercase;
            font-weight: 400;
            list-style: none;
            margin-bottom: 1rem; 
        }
        div.company .head:hover {
            text-decoration: none;
        }
        div.help .head:hover {
            text-decoration: none;
        }
        div.contact .head:hover {
            text-decoration: none;
        }
        div.others .head:hover {
            text-decoration: none;
        }

        div.help .head {
            color:$darkGrayishViolet;
            text-transform: uppercase;
            font-weight: 400;
            list-style: none;
            padding-top: 3rem;
            margin-bottom: 1rem;  
        }
        div.contact .head {
            color:$darkGrayishViolet;
            text-transform: uppercase;
            font-weight: 400;
            list-style: none;
            margin-bottom: 1rem;
            padding-top: 3rem;  
        }
        div.others .head {
            color:$darkGrayishViolet;
            text-transform: uppercase;
            font-weight: 400;
            list-style: none;
            margin-bottom: 1rem;
            padding-top: 3rem; 
        }
        
       
    }
    

}

.attribution {
    float: right;
    margin-top: -2rem;
    margin-right: 3rem;
    opacity: .5;
    
    
    :link {
        text-decoration: none;
        color: black;
    }
    a {
        color: black;
    }
}


@media screen and (max-width: 1425px) {
    .intro {
        p {
            width: 300px;
        }
        h1.human {
            font-size: 3rem;
        }
       
    }
}


@media screen and (max-width: 1260px) {
    .intro {
        p {
            width: 300px;
        }
        h1.human {
            font-size: 3rem;
        }
       
    }
}

